<h3>Players(<%= @game.users.count %>):</h3>
<div class="plan">
  <% if user_signed_in? && !game.users.include?(current_user) %>
  <%= form_for(@game, :url => game_join_path(@game)) do %>

    <%= submit_tag( "Join Game") %>
  <% end %>
  <% elsif !user_signed_in?  %>
    <%= form_for(@game, :url => game_join_path(@game)) do %>
      <%= label_tag(:name, "Guest Name") %>
      <%= text_field_tag(:name) %>
      <%= submit_tag( "Join Game") %>
    <% end %>
  <% else %>
  <!--#FIXME should this be a nested route under the game?-->
  <%= form_for(@game, :url => game_start_path(@game)) do %>
      <%= submit_tag("Start Game") %>
    <% end %>
  <% end %>
</div>
<p id="share"></p>

