<h4>Dealer: <%= @round.host.name %></h2>
<h4>Scores:</h2>
<p hidden id="round"><%=@round.id %></p>
<% @scores.each do |score| %>
  Name: <%=score[0]%> - Black Cards: <%=score[1] %></br>
<% end %>
<div class="play col-xs-6 col-lg-4">
  <div class="black-card">
    <%= @black_card["text"].gsub("_", "____").html_safe %>
  </div></br>
  <div>
    <div class='cardstack'>
    <% @white_cards.each do |card| %>
      <div class='light stackcard'>
        <ul class='text2 menu'>
          <li><%=card.text.html_safe%></li>
          <li hidden><%=card.id%></li>
        </ul>
      </div>
    <% end %>
    </div>
  </div>
</div>
