<p>Game: <%= @game.name %></p>
<p>Players: <%= @game.users.count %></p>
<p><% @game.users.each do |user| %></p>
  <p><%= user.name %> </p>
<% end %>
<% if @game.started? %>
  <%= render partial: "play", locals: {game: @game} %>
<% else %>
  <%= render partial: "plan", locals: {game: @game} %>
<% end %>
