<h2>Game: <%= @game.name %></h2>

<% if @game.started?%>
  <h3>GamePlay</h3>
  <% if @round.host == current_user %>
    <%= render partial: "dealer", locals: {game: @game, white_cards: @white_cards, round: @round} %>
  <% else %>
    <%= render partial: "player", locals: {game: @game, round: @round} %>
  <% end %>
<% else %>
  <%= render partial: "plan", locals: {game: @game} %>
<% end %>
</br>
<h3>Players(<%= @game.users.count %>):</h3>
<% @game.users.each do |user| %>
  <p><%= user.name %> </p>
<% end %>