<h2>Game: <%= @game.name %></h2>
<p><h3>Players(<%= @game.users.count %>):</h3> </p>

<% if @game.started? %>
  <%= render partial: "play", locals: {game: @game} %>
<% else %>
  <%= render partial: "plan", locals: {game: @game} %>
<% end %>

<% @game.users.each do |user| %>
  <p><%= user.name %> </p>
<% end %>